<html>
    <head>
        <title>SemioLabs</title>
    </head>
    <body>
        <h4>New Message from {{post.email}}!</h4>
        <h2>Name: </h2>
        <h2>Last Name: </h2>
        
            <br />
            <h2>{{post.message}}</h2>
            <br />
            -----------------------------------------------------------------
            <br />
            <a href=""></a>
            <br />
            -----------------------------------------------------------------
            <br />
            <br />
   
</body>
</html>