{%extends "/layout/base.twig"%}
{% block title %}
	<title>Semio labs || Nous contacter </title>
{% endblock %}
{%block css%}
{{parent()}}

{%endblock%}
{%block content%}
	{% if app.session.hasFlash('success')  %}
        <div class="alert alert-block alert-success">
                {{ app.session.flash('success') | raw }}
        </div>
       {% elseif app.session.hasFlash('error')  %}
        <div class="alert alert-block alert-error">
            <h4>Error</h4>
            {{ app.session.flash('error') | raw }}
        </div>
       {% endif %} 
     <div id="wrap" class="wrap">
       
         <div class="content">
             <div class="article">
                 <form class="well span8" action="../web/contact" method="POST">
  <div class="row">
		<div class="span3">
			<label>Nom</label>
                        <input type="text"  required name="nom" class="span3" placeholder="Votre nom ">
			<label>Prénom</label>
                        <input type="text" required name="prenom" class="span3" placeholder="Votre prénom">
			<label>Addresse Email</label>
                        <input type="email" required name="email" class="span3" placeholder="Votre email">
			<label>Sujet
			<select required id="subject" name="subject" class="span3">
				<option value="service">Nos Services</option>
				<option value="suggestions">Suggestions</option>
			</select>
			</label>
		</div>
		<div class="map">
			 <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=2.379291,48.854099,2.385782,48.857056&amp;layer=mapnik&amp;marker=48.85558,2.38254" ></iframe>
		</div>
		
		<div class="span5">
			<label>Message</label>
			<textarea name="message" required id="message" class="input-xlarge span5" rows="10" ></textarea>
		</div>
          <div class="clear"></div>
          <button type="submit" name="contact" class="btn btn-primary pull-right">Send</button>
          <div class="clear"></div>	
<br /></div>

</form>  
    </div>
                 </div>
</div>
{%endblock%}
