
{%extends "/layout/base.twig"%}
{% block title %}
	<title>Semio labs || Il existe des erreurs </title>
{% endblock %}
{%block css%}
{{parent()}}
   
{%endblock%}
{%block content%}


    <div class="container">
        <div class="back-container">
            
            <h1> <b>Error</b> </h1>
         <p> This is an error , <br/> Requested page not found ... </p>

        </div>
     
    </div> <!-- /container -->


            
{% endblock %}