 <div class="content">
            <div class="article">
                
     <div class="we-are">
        <div class="we-are-title">
            <h2> we are </h2>
        </div>
        <div class="we-are-description">
            <p> Nous avons créé Semio Design en 2003, à Paris. Nous aimons les data, petites ou grandes, les systèmes multilingues et le web sémantique. 					Nous aimons la typographie, le motion, l'UX, les prototypes, et l'innovation. We are digital makers.</p>

        </div>
    </div>
    <div class="we-do">
        <div class="we-are-title">
            <h2> we do </h2>
        </div>
        <div class="we-are-description">
            <ul class="content-do">
                <li class="labs">
                    <h2>
                        <a href="http://labs.semiodesign.com/" target="_blank" title="semio.labs - Recherche &amp; développement par Semio Design">
                            semioLabs
                        </a>
                    </h2>
                    Recherche &amp; développement
                </li>
                <li class="labs">
                    <h2>
                        <a href="http://labs.semiodesign.com/" target="_blank" title="semio.labs - Recherche &amp; développement par Semio Design">
                            weBench
                        </a>
                    </h2>
                    Recherche &amp; développement
                </li>
                <li class="labs">
                    <h2>
                        <a href="http://labs.semiodesign.com/" target="_blank" title="semio.labs - Recherche &amp; développement par Semio Design">
                            weProd
                        </a>
                    </h2>
                    Recherche &amp; développement
                </li>
                <li class="labs">
                    <h2>
                        <a href="http://labs.semiodesign.com/" target="_blank" title="semio.labs - Recherche &amp; développement par Semio Design">
                            wePad
                        </a>
                    </h2>
                    Recherche &amp; développement
                </li>
            </ul>

        </div>
    </div>

    <div class="we-share">
        <div class="we-are-title">
            <h2> we share </h2>
        </div>

        <div class="we-are-description">
            <ul class="content-do">
                <li> <a href="http://twitter.com/semiodesign" class="twitter" target="_blank" title="Twitter de Semio Design">twitter</a></li>
                <li> <a href="http://www.linkedin.com/company/semio-design" class="linkedin" target="_blank" title="LinkedIn de Semio Design">linkedin</a></li>
                <li> <a href="http://www.facebook.com/semiodesign" class="facebook" target="_blank" title="Facebook de Semio Design">facebook</a></li>
                <li> <a href="https://github.com/semiodesign" class="github" target="_blank" title="GitHub de Semio Design">github</a></li>

            </ul>

        </div>
      </div>
    </div>                    
 </div>

